---
import Layout from '../layouts/Layout.astro';
import Goodscard from '../components/goodsJsonCard.astro';
import { getCollection } from 'astro:content';
---

<Layout>
<main class="main">
  <div class="main__inner">

  <h1>パソコンしょっぷ</h1>
</div>
<section class="top">
  <div class="top__inner">

  <div class="item__grid">
  <Goodscard  />
  </div>
</div>
  </section>
</main>
</Layout>