---
import goods from "../data/goods.json";
console.log(goods);
---





  {goods.map((list) =>
  <article class="card">
     <img class="card__img" src=`/images/${list.itemphotos[0]}` />
<div class="card__texts">
<div>
          <h3 class="card__title">{list.name}</h3>
     <p class="card__text">{list.text}</p>
     </div>

     <p class="card__price">¥{list.price}</p>

     </div>

     </article>
  )}
