---

---

<header class="header">
  <div class="header__inner">
  <h1>My shop</h1>
  <nav class="header__nav">
   <ul class="header__list">
  <li class="header__item">home</li>
   <li class="header__item">about</li>
</ul>
  </nav>
  </div>
</header>