---

---
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Myshop</title>
   <link rel="stylesheet"href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link rel="stylesheet" href="/src/assets/styles/style.scss">
</head>